<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Tickets', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>